.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto;
    text-align: center;
    column-gap: 10px;
    row-gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
    @media (max-width: 560px) {
        .headline{
            border: 1px solid black;
            padding-top: 1vh;
            padding-left:1vh;
         
            height: 3vh;
            background-color: var(--panel-dark-background-color);
            text-align: left;
            
            .mat-h6{
                font-size: 1.5vh !important;
            }  
        }
        .buttondiv{
            button{
                
                font-size: 1vh !important;
                float: inline-start;
            }
            padding-bottom: 1vh;
        }
        .spacer{
            height: 1vw;
            width:1vw;
        }
    
        .divspanwithtext{
            float: inherit;
            padding-bottom: 0vh;
            margin-bottom: 0vh;
            font-weight: bold;
            font-size: 1vh !important;
            min-width: 150px;
            max-width:150px;
            place-self: center;
        }
    }
    @media (min-width: 561px) {
        .headline{
            border: 1px solid black;
            padding-top: 1vh;
            padding-left:1vh;
         
            height: 3vh;
            background-color: var(--panel-dark-background-color);
            text-align: left;
            
            
            .mat-h6{
                font-size: 2.5vh !important;
                @media (max-width:830px) {
                    font-size: 2.0vh !important;
                }
            }
        }
    
        .buttondiv{
            float: inherit;
            button{
                font-size: 1vh !important;
                
            }
            padding-bottom: 1vh;
        }
        .spacer{
            height: 1vh;
            width:1vh;
        }
    
        .divspanwithtext{
            float: inherit;
            padding-bottom: 0vh;
            padding-top: 0vh;
            vertical-align: middle;
            margin-bottom: 0vh;
            font-weight: bold;
            font-size: 1.5vh !important;
            min-width: 300px;
            max-width: 300px;
            place-self: center;
            @media (max-width:830px) {
                min-width: 200px;
                max-width: 200px;
                font-size: 1.2vh !important;
            }
            
        }

    }

    .radiobuttondiv{
        mat-radio-button{
            padding-left: 10px;
            padding-bottom: 10px;
        }
    }
    .datapanel{
        grid-row-start: 2;
        grid-row-end: 11;
        grid-column: 2;
        border: 1px solid var(--panel-dark-background-color);
        margin: 5px;
        mat-progress-bar{
            max-width: 90%;
            padding-left: 5%;
            padding-top: 5px;
        }
        .progressbartext{
            padding-top:10px;
        }
        .bars{
            width: 45px;
            height:40px;
            --c: linear-gradient(current-color 0 0);
            background:
                var(--c) 0% 100%,
                var(--c) 50% 100%,
                var(--c) 100% 100%;
            background-size: 9px 100%;
            background-repeat: no-repeat;
            animation: bars ls infinite linear;
        }
        @keyframes bars {
            20%{
                background-size: 9px 60%, 9px 100%, 9px 100%;
            }
            40%{
                background-size: 9px 80%, 9px 60%, 9px 100%;
            }
            60%{
                background-size: 9px 100%, 9px 80%, 9px 60%;
            }
            80%{
                background-size: 9px 100%, 9px 100%, 9px 80%;
            }

        }
    }
    .resultpanel{
        grid-row-start: 10;
        grid-row-end: 11;
        grid-column: 1;
        border: 1px solid var(--panel-dark-background-color);
        height: flex;
        margin:5px;
        height: 73vh;
       
    }
    mat-list{
        text-align: left;
    }
    

    
}