.grid-container{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 5% 5% 5% 10% 6% 3% auto;
    text-align: center;
    height: 100%;
    row-gap: 1vh;
    column-gap:1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    @media (max-width: 560px) {
     
        .headline{
            border: 1px solid black;
            padding-top: 1vh;
            padding-left:1vh;
         
            height: 3vh;
            background-color: var(--panel-dark-background-color);
            text-align: left;
            
            .mat-h6{
                font-size: 1.5vh !important;
            }  
        }
    
        .buttondiv{
            button{
                margin-top: 1.5vh;
                font-size: 1vh !important;
                float: inline-start;
            }
            padding-bottom: 1vh;
        }
        .spacer{
            height: 1vw;
            width:1vw;
        }
    
        .divspanwithtext{
            float: inherit;
            padding-bottom: 1vh;
            margin-bottom: 0vh;
            font-weight: bold;
            font-size: 1vh !important;
            min-width: 150px;
            max-width:150px;
            place-self: center;
        }
        .selectionSection{
            text-align: right;
            height:1vh !important;
            mat-checkbox{
                padding-left: 1vh;
                padding-right:2vh;
               
            }
          
        }
       
        .datapanel{
            grid-row-start: 3;
            grid-row-end: 8;
            grid-column: 2;
            border: 1px solid var(--panel-dark-background-color);
            margin: 5px;
            overflow: scroll;
            min-height: 95%;
            //height: 85vh;
            mat-selection-list{
                mat-list-option h6,p{
                    font-size: 1vh !important;
                }
            }
        }
        .resultpanel{
            border: 1px solid var(--panel-dark-background-color);
            min-height: 95%;
            //height: 65vh;
            .result{
                font-style: italic;
                break-after: always;
                //font-size: 1vh;
                //margin-bottom: 1vh;
            }
            .listtext{
                font-size: 0.8vh !important;
            }
            
        }

    }
    @media (min-width: 561px) {
        grid-template-columns: 40% 60%;
        .headline{
            border: 1px solid black;
            padding-top: 1vh;
            padding-left:1vh;
         
            height: 3vh;
            background-color: var(--panel-dark-background-color);
            text-align: left;
            
            .mat-h6{
                font-size: 2.5vh !important;
            }
        }
    
        .buttondiv{
            float: inherit;
            button{
                font-size: 1vh !important;
                
            }
            padding-bottom: 1vh;
        }
        .spacer{
            height: 1vh;
            width:1vh;
        }
    
        .divspanwithtext{
            float: inherit;
            padding-bottom: 2vh;
            padding-top: 1vh;
            vertical-align: middle;
            margin-bottom: 2vh;
            font-weight: bold;
            font-size: 1.5vh !important;
            min-width: 300px;
            max-width: 300px;
            place-self: center;
            @media (max-width:830px) {
                min-width: 200px;
                max-width: 200px;
                font-size: 1.2vh !important;
            }
            
        }
        .selectionSection{
            text-align: right;
            mat-checkbox{
                padding-left: 1vh;
                padding-right:2vh;
                height: 1vh;
            }
          
        }
       
        .datapanel{
            grid-row-start: 3;
            grid-row-end: 8;
            grid-column: 2;
            border: 1px solid var(--panel-dark-background-color);
            margin: 1vh;
            overflow: scroll;
            min-height: 95%;
            //height: 85vh;
            mat-selection-list{
                mat-list-option h6,p{
                    font-size: 2vh !important;
                }
            }
        }
        .resultpanel{
            border: 1px solid var(--panel-dark-background-color);
            margin:0.5vh;
            min-height: 95%;
            //height: 65vh;
            .result{
                font-style: italic;
                break-after: always;
            }
            .listtext{
                font-size: 1.5vh;
                margin-bottom: 0.5vh !important;
            }
        }
    }
    
    mat-list{
        text-align: left;
    }
   
    .btn{
        @media (max-width: 560px) {
            font-size: 200px !important;
        }
        @media (min-width: 561px) {
            font-weight: 200;
        }
    }
   
}
